{% extends "base.html" %}

{% block title %}
    {% if view.object %}
        Editar automotora
    {% else %}
        Nueva automotora
    {% endif %}
{% endblock %}

{% block content %}

<h1 class="mb-4">
    {% if view.object %}
        Editar automotora
    {% else %}
        Nueva automotora
    {% endif %}
</h1>

<form method="post" class="card p-4">
    {% csrf_token %}

    {{ form.as_p }}

    <div class="mt-3">
        <button type="submit" class="btn btn-success">
            Guardar
        </button>
        <a href="{% url 'dealers:list' %}" class="btn btn-secondary">
            Cancelar
        </a>
    </div>
</form>

{% endblock %}

